<main class="main-exterior">
  <div class="data">
    <p><b>ID:</b> {{ task.id }}</p>
    <p><b>Título:</b> {{ task.title }}</p>
    <p><b>Descrição:</b> {{ task.description }}</p>
    <p><b>Status:</b> {{ task.status }}</p>
    <p><b>Data de Criação:</b> {{ task.dateCreation }}</p>
    <p><b>Data de Atualização:</b> {{ task.dateUpdate }}</p>

    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancelar</button>
    </mat-dialog-actions>
  </div>
</main>
