main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 2%;
}

.btn {
  background-color: #0e7a79;
  width: 15rem;
  border-radius: round($number: 20px);
  font-size: 1rem;
  border: none;
  height: 3rem;
  color: white;
}
